*AppleDouble*
.vscode
*swp
*swo
*.o
*dSYM
*.log
*key
*gz
*tar
*afp
Makefile
autom4te.cache
config.status
src/.deps/*
include/config.h
libtool
test/*
include/config.h.in~
include/stamp-h1
files
src/wh
.DS_Store
TODO.txt
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.keys/
.keys_bak/
Makefile.in
aclocal.m4
compile
conf.lua
conf.srv.lua
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
nnvpn.log.txt
src/Makefile.in
src/nnvpn
